<script>
import Profile from 'modules/profile';

import LoginStatus from '@/ui/components/loginStatus.vue';

export default {
	computed: {
		hasHall() { return Profile.hasHall() },
		VERSION() { return __VERSION; }

	},
	created() {
		this.Profile = Profile;
	},
	components: {
		login: LoginStatus
	},
	methods: {

		fileSelect(e) {

			e.stopPropagation();
			e.preventDefault();

			this.dispatch('load-file', e.target.files);

		},

		fileDrop(e) {
			e.stopPropagation();
			e.preventDefault();

			e.target.classList.remove('hilite');

			const dt = e.dataTransfer;
			this.dispatch('load-file', dt.files);

		},
		fileDrag(e) {
			e.stopPropagation();
			e.preventDefault();
			e.currentTarget.classList.add('hilite');
		},
		dragOut(e) {
			e.stopPropagation();
			e.preventDefault();
			e.currentTarget.classList.remove('hilite');
		},

	}

}
</script>

<template>

	<div class="top-bar">

		<span class="load-opts">
			<login v-if="Profile.CLOUD" />
			<button type="button" @click="dispatch('save')">Save</button>
			<button type="button" @click="dispatch('load')">Load</button>

			<button type="button" @click="emit('save-file-check', $event)">Get Save</button>

			<button type="button" v-if="hasHall" class="text-button" @click="dispatch('hall-file', $event)">Hall Save</button>

			<!--<input type="file" name="[File]" accept="text/json" @change="fileDrop">-->
			<button type="button" id="drop-file" @click="$refs.fileInput.click()" @drop="fileDrop" @dragover="fileDrag"
				@dragleave.capture.stop="dragOut" name="[Load Save]">[Load Save]</button>
			<input ref="fileInput" type="file" @change="fileSelect" accept="text/json text/*">

			
		</span>

		<span class="items">
			<slot name="center"></slot>
		</span>

		<span class="link-bar">
			<a href="https://mathiashjelm.gitlab.io/arcanum/" target="_blank">Stable</a>
			<a href="https://discord.gg/bCABC96" target="_blank">Discord</a>
			<a href="https://www.reddit.com/r/wizrobe/" target="_blank">Reddit</a>
			<span class="vers">Version: {{ VERSION }}</span>
			<button type="button" class="text-button" @click="$emit('open-settings')">&#9881;</button>
		</span>

	</div>


</template>

<style scoped>
span.vers {
	font-size: 0.9em;
	align-self: center;
	margin-bottom: var(--sm-gap);
}

div.text-button a {
	text-decoration: none;
}

input[type="file"] {
	display: none;
}

#drop-file {
	border: var(--tiny-gap) dashed var(--quiet-text-color);
}

.load-opts {
	display: flex;
}

.load-opts button {
	height: 100%;
}

.load-opts .text-button {
	max-height: var(--lg-gap);
}

span.items {
	text-transform: capitalize;
}
</style>
